table {
  border: Solid 5px black;
  width: 2%;
  height: 5%;
  
  background: skyblue;
}
thead {
  border: 5px black;
  
}
td {
  margin: 40px;
  border: 40px;
}
th{
  border: solid 2px red;
  padding: 25px;
}
