body {
  background: blue;

}
header {
  color: white;
}
fieldset {
  width: 20%;
}
table {
  border: Solid 5px black;
  width: 15%;
  height: 75%;
  background: skyblue;
  border-collapse: collapse;
}
thead {
  border: 5px black;
  background-color: salmon;
  
}
td {
  margin: 40px;
  border: 60px, red;
}
th {
  border: solid 3px red;
  padding: 35px;
  
}
a {
  color: white;
}
